/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 10, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 20, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 53, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 66, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 76, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 96, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 108, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 116, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 125, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 134, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 143, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 152, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 160, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 168, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
sup {
  top: -0.5em;
}

/* line 172, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 183, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 191, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 202, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 210, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 220, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 228, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 251, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 265, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 276, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 289, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 301, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 310, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 321, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 333, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 345, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 356, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 369, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 378, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 389, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 398, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 407, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 418, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 423, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
td,
th {
  padding: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 32, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 52, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 65, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 75, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 87, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 107, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 115, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 124, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 133, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 151, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 159, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
sup {
  top: -0.5em;
}

/* line 171, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 182, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 190, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 201, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 209, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 219, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 227, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 250, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 264, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 275, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 288, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 300, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 309, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 320, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 332, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 344, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 355, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 368, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 377, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 388, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 397, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 406, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 417, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 422, /Projects/blog/app/assets/stylesheets/_normalize.css.scss */
td,
th {
  padding: 0;
}

/* line 19, /Projects/blog/app/assets/stylesheets/application.scss */
html, body {
  font-family: 'Raleway', sans-serif;
}

/* line 23, /Projects/blog/app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

/* line 27, /Projects/blog/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 32, /Projects/blog/app/assets/stylesheets/application.scss */
#sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #f5f7f9;
  padding: 7em 0 0 0;
  border-right: 1px solid #d6dce0;
}
/* line 41, /Projects/blog/app/assets/stylesheets/application.scss */
#sidebar #logo {
  width: 40px;
  position: absolute;
  right: 3em;
  top: 3em;
}
/* line 47, /Projects/blog/app/assets/stylesheets/application.scss */
#sidebar ul {
  list-style: none;
  text-align: right;
  padding-right: 3em;
}
/* line 51, /Projects/blog/app/assets/stylesheets/application.scss */
#sidebar ul .category {
  font-weight: 700;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #33acb7;
}
/* line 57, /Projects/blog/app/assets/stylesheets/application.scss */
#sidebar ul li {
  padding: .5em 0;
}
/* line 59, /Projects/blog/app/assets/stylesheets/application.scss */
#sidebar ul li a {
  color: #9eafba;
  text-decoration: none;
  transition: all .4s ease;
}
/* line 63, /Projects/blog/app/assets/stylesheets/application.scss */
#sidebar ul li a:hover {
  color: #33acb7;
}
/* line 69, /Projects/blog/app/assets/stylesheets/application.scss */
#sidebar ul .active a {
  color: #33acb7;
}
/* line 74, /Projects/blog/app/assets/stylesheets/application.scss */
#sidebar .sign_in {
  position: absolute;
  right: 3em;
  top: 80%;
  font-size: .8em;
  color: #9eafba;
}

/* line 83, /Projects/blog/app/assets/stylesheets/application.scss */
.button {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
}
/* line 89, /Projects/blog/app/assets/stylesheets/application.scss */
.button:hover {
  border: 1px solid #33acb7;
  color: #33acb7;
}
/* line 92, /Projects/blog/app/assets/stylesheets/application.scss */
.button:hover a {
  color: #33acb7 !important;
}

/* line 98, /Projects/blog/app/assets/stylesheets/application.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 106, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content {
  margin-left: 250px;
}
/* line 108, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #header {
  padding: 1em 3em;
  border-bottom: 1px solid #d6dce0;
  background: #f5f7f9;
  color: #9eafba;
}
/* line 113, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #header p {
  display: inline;
}
/* line 116, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #header a {
  color: #9eafba;
  text-decoration: none;
}
/* line 120, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #header .buttons {
  float: right;
  margin-top: -6px;
}
/* line 123, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #header .buttons .button {
  font-size: .8em;
  margin-left: .5em;
}
/* line 129, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content .post_wrapper {
  padding: 3em;
  border-bottom: 1px solid #d6dce0;
}
/* line 132, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content .post_wrapper .title {
  margin: 0;
}
/* line 134, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content .post_wrapper .title a {
  font-weight: 500;
  text-decoration: none;
  color: #2a2f35;
  font-size: 1.5em;
}
/* line 139, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content .post_wrapper .title a:hover {
  color: #33acb7;
}
/* line 144, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content .post_wrapper .date_and_author {
  color: #9eafba;
  margin: .5em 0 0 0;
}
/* line 149, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content {
  padding: 1em 3em;
}
/* line 151, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content .title {
  font-weight: 500;
  text-decoration: none;
  color: #2a2f35;
  font-size: 2.5em;
  margin-bottom: 0;
}
/* line 158, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content .body {
  font-size: 1.1em;
  line-height: 1.75;
}
/* line 162, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content .date_and_author {
  color: #9eafba;
  margin: .5em 0 2em 0;
}
/* line 167, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content #comments h2 {
  margin: 3em 0 1em 0;
  border-bottom: 1px solid #d6dce0;
  padding-bottom: 0.5em;
}
/* line 172, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content #comments h3 {
  margin-top: 2em;
}
/* line 175, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content #comments .comment {
  border-bottom: 1px solid #d6dce0;
  padding: 1.5em 2em;
}
/* line 179, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content #comments .comment_content {
  float: left;
}
/* line 181, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content #comments .comment_content .comment_name {
  margin: 1em 0 0 0;
  font-size: 0.7em;
  text-transform: uppercase;
}
/* line 186, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content #comments .comment_content .comment_body {
  font-size: 1.2em;
  margin: 0.2em 0 0 0;
}
/* line 190, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content #comments .comment_content .comment_time {
  margin-top: 1.2em;
  font-size: .8em;
}
/* line 195, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content #comments .button {
  float: right;
}
/* line 199, /Projects/blog/app/assets/stylesheets/application.scss */
#main_content #post_content input[type="text"], #main_content #post_content textarea {
  width: 50%;
}

/* line 204, /Projects/blog/app/assets/stylesheets/application.scss */
#page_wrapper {
  padding: 3em;
}
/* line 206, /Projects/blog/app/assets/stylesheets/application.scss */
#page_wrapper #profile_image {
  width: 300px;
  float: left;
  margin-right: 2em;
}
/* line 210, /Projects/blog/app/assets/stylesheets/application.scss */
#page_wrapper #profile_image img {
  width: 100%;
  border-radius: 0.35em;
}
/* line 216, /Projects/blog/app/assets/stylesheets/application.scss */
#page_wrapper #content h1 {
  font-weight: 500;
}
/* line 219, /Projects/blog/app/assets/stylesheets/application.scss */
#page_wrapper #content p {
  font-size: 1.1em;
  line-height: 1.75;
}
/* line 223, /Projects/blog/app/assets/stylesheets/application.scss */
#page_wrapper #content a {
  color: #33acb7;
  font-weight: 700;
  text-decoration: none;
}

/* line 230, /Projects/blog/app/assets/stylesheets/application.scss */
.links {
  margin: 2em 0;
}

/* line 233, /Projects/blog/app/assets/stylesheets/application.scss */
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 90%;
  border: 1px solid #d6dce0;
  border-radius: .35em;
  margin-top: 10px;
  padding: .5em 1em;
  line-height: 1.75;
}

/* line 241, /Projects/blog/app/assets/stylesheets/application.scss */
input[type="text"] {
  height: 35px;
}

/* line 244, /Projects/blog/app/assets/stylesheets/application.scss */
textarea {
  min-height: 180px;
}

/* line 247, /Projects/blog/app/assets/stylesheets/application.scss */
input[type="submit"] {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  font-size: 1.1em;
  border-radius: 1.5em;
  margin-left: .5em;
}
/* line 255, /Projects/blog/app/assets/stylesheets/application.scss */
input[type="submit"]:hover {
  border: 1px solid #33acb7;
  color: #33acb7;
}
