<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>
 
  <div id="content">
    <h1>Theodore X. Li</h1>
    <h2>Nil Volenti Dificile Est.</h2>

    <h5><p>Feel free to visit my <a href="http://theodoreli.me">website</a>, follow me on <a href="http://twitter.com/thetli8">Twitter</a> and <a href="http://instagram.com/thetli8">Instagram</a> or read my editorials on <a href="http://huffingtonpost.com/theodore-li">Huffington Post</a>!
    I am currently a Finance and Computer Science Major at the University of Maryland, College Park.</p></h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p><h6>This website was created using a tutorial made by <a href="http://mackenziechild.me/12-in-12/2/">Mackenzie Child</a>. I created this website to serve two purposes: 1) Learning how to code in <a href="http://rubyonrails.org">Ruby On Rails</a> and 2) Making something useful and cool! <b> Much thanks to Mackenzie Child and the MIT Licenses used for this creation. </b> To learn more about this project, please feel free to contact me with the Email link.</b> </h6></p>
  </div>
</div>