<!-- do loop so it will show this on the start of it -->

<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
    <!-- so it will show a date it was created, different from the show page, includes the actual date -->
  </div>
<% end %>