<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
   		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
   		<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    	<%= csrf_meta_tags %>
  </head>

  <body>
    
    <div id="sidebar">
      	<div id="logo">
        	<%= link_to root_path do %>
          		<%= image_tag "teddy.png" %>
        	<% end %>
      	</div>
 
      	<ul>
        	<li class="category">Theodore X. Li</li>
       		<li><%= link_to "Blog", root_path %></li>
        	<li><%= link_to "About", about_path %> </li>
          <li><a href="http://theodoreli.me">Website</a></li>
      	</ul>
 
      	<ul>
       		<li class="category">Social</li>
          <li><a href="http://facebook.com/thetli8">Facebook</a></li>
          <li><a href="https://twitter.com/thetli8">Twitter</a></li>
       		<li><a href="http://instagram.com/thetli8">Instagram</a></li>
          <li><a href="http://linkedin.com/in/theodorexli">LinkedIn</a></li>
          <li><a href="http://medium.com/@thetli8">Medium</a></li>
       		<li><a href="https://github.com/thetli8">Github</a></li>
          <li><a href="http://challengepost.com/thetli8">ChallengePost</a></li>
          <li><a href="mailto:%74%78%6C%40%75%6D%64%2E%65%64%75">Email</a></li>
      	</ul>

      <% if !user_signed_in? %>
        <p class="sign_in"><%= link_to 'Admin Login', new_user_session_path %></p>
      <% end %>
      
      <% if user_signed_in? %>
        <p class="sign_in"><%= link_to "Change your password", edit_user_registration_path%></p>
      <% end %>
      
    </div>
 		
 	<div id="main_content">
    	<div id="header">
      		<% if current_page?(root_path) %>
            <p>All Posts</p>
          <% elsif current_page?(about_path) %>
            <p>About</p>
          <% else %>
            <%= link_to "Back to All Posts", root_path %>
          <% end %>
 
        <% if user_signed_in? %> 
          <div class="buttons">
            <button class="button"><%= link_to "New Post", new_post_path %></button>
        		<button class="button"><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></button>
      		</div>
        <% end %>
    	</div>
 
    	<% flash.each do |name, msg| %><br>
      	<%= content_tag(:div, msg, class: "alert") %>
   	<% end %>
 
    <%= yield %>

  </div>
 
  </body>


</html>